$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;

$gradient: linear-gradient(left, #38D39F, #38A4D3);
$bg-color: #154353;
$text-color: #2C2C2C;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


@import "global";